@import url('./style_var.css');
/*CSS variables*/ 


/*Project Card styling*/
.project-card {
    box-shadow: 0 4px 8px 0 var(--shadow_color);
    transition: 0.3s;
    padding: 2rem;
    background-color: var(--dark_color);
    border-radius: 10px;
    max-width: 300px;
    color: var(--primary_color)

}

.project-card .card-img {
    outline :var(--primary_color) 4px solid;
    margin : 10px auto;
    max-width: 100%;
    height: auto;
}

.project-card .card-title {
    max-width: 100%;
    height: auto;
    font: bold;
}

.project-card .card-description {
    max-width: 100%;
    height: auto;
}

.project-card-wrapper {
    display: inline-block;
}

.project-card:hover {
    box-shadow: 0 8px 10px 0 var(--highlight_color);
    color: var(--highlight_color);
    scale: 1.02;
}

.project-card:hover img {
    outline :var(--highlight_color) 4px solid;
}
/*//////////////////////////////////////////////////////////*/

/*NavBar styling*/
.navbar {
    z-index: 1000;
    display: flex;
    background-color: #333;
    position: fixed; 
    width: 100%;
    left: 0;
    top: 0; 
    min-height: 10%;
    align-items: center;
    box-sizing: border-box;
    
}

.navbar a {
    flex: 1;
    color: var(--primary_color);
    padding: 1% 1%;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    transition: 0.3s;
}

.navbar a:hover {
    background-color: var(--dark_color);
    color: var(--highlight_color);
    text-decoration: underline;
    scale: .98;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px var(--highlight_color);
}

.navbar:hover {
    box-shadow: 0 8px 10px 0 var(--highlight_color);
}
/*//////////////////////////////////////////////////////////*/

/*routing*/ 
.routing {
    margin-top: 5%;
  margin-left: 10%;
  margin-bottom: 10%;
  margin-right: 10%;
}