/*Styles custom react components*/

@import url('./style_var.css'); /*Import CSS variables and imports*/


/*Text Blurb styling*/

.text-blurb {
    padding-bottom: 2%;
    width: clamp(38vh, var(--text_box_width), 80%);
}

.text-section {
        font-size: clamp(.5rem, var(--base_font_size), 2rem);
}

/*//////////////////////////////////////////////////////////*/

/*Project Card styling*/
.project-card {
    box-shadow: 0 4px 8px 0 var(--shadow_color);
    transition: 0.3s;
    padding: 2rem;
    background-color: var(--dark_color);
    border-radius: 10px;
    max-width: 300px;
    color: var(--primary_color);
}

.project-card .card-img {
    outline :var(--primary_color) 4px solid;
    margin : 10px auto;
    max-width: 100%;
    height: auto;
}

.project-card .card-title {
    max-width: 100%;
    height: auto;
    font: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    background: linear-gradient(135deg, var(--primary_color), #aafffe, var(--primary_color));
    background-clip: text;
    color: transparent;
    background-size: 200% 100%;
    animation: shimmer 10s linear infinite;

}

.project-card .card-title:hover {
    max-width: 100%;
    height: auto;
    font: bold;
    font-size:1.5rem;
    color: var(--highlight_color);

}

.project-card .card-description {
    max-width: 100%;
    height: auto;
}

.project-card-wrapper {
    display: inline-block;
}

.project-card:hover {
    box-shadow: 0 8px 10px 0 var(--highlight_color);
    color: var(--highlight_color);
    scale: 1.02;
    
    & .card-title {
        color: var(--highlight_color)
    }
}

.project-card:hover img {
    outline :var(--highlight_color) 4px solid;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tag-container {
    display:flex;
    gap: 6px !important;
}

.project-tag {
    border-radius: 20px;
    color: white;
    font-size: clamp(1vh, .75vw, .8vw);
    padding: 2px 8px;

}
/*//////////////////////////////////////////////////////////*/

/*NavBar styling*/
.navbar {
    z-index: 1000;
    display: flex;
    background-color: #333;
    position: fixed; 
    width: 100%;
    left: 0;
    top: 0; 
    min-height: 10%;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 2px 3px 0 var(--highlight_color);
    justify-content: space-around;
}

.navbar a {
    flex: 1;
    display: flex;
    color: var(--primary_color);
    padding: 1% 1%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: clamp(0.9rem, 2vw, 1.5rem);
    transition: 0.3s;
    max-width: 10%;
}

.navbar a:hover {
    background-color: var(--dark_color);
    color: var(--highlight_color);
    text-decoration: underline;
    scale: 1.05;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px var(--highlight_color);
    
    .navicon {
        fill: var(--highlight_color);
    }
}

.myheader { 
    width: 20%;
    height: auto;
    padding: 1% 1%;
}

.navicon {
    fill: var(--primary_color);
    width: 20%;
    height: auto; 
    transition: 0.3s;
    padding-right: 5%;
}

/*//////////////////////////////////////////////////////////*/

/*SocialBar styling*/
.socialbar {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1% 1%;
    transition: 0.3s;
}

.socialicon{
    transition: .3;
    fill: var(--primary_color);
    width: 60px;
    height: 60px;
}

.socialicon:hover {
    fill: var(--highlight_color);
    scale: 1.05;
}

/*//////////////////////////////////////////////////////////*/

/*routing*/ 
.routing {
    margin-top: 5%;
  margin-left: 10%;
  margin-bottom: 5%;
  margin-right: 10%;
}

/*//////////////////////////////////////////////////////////*/

/*special FX*/
@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
/*//////////////////////////////////////////////////////////*/